<div class="container">
  <div class="card-group vgr-cards">
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://picsum.photos/150/100" alt="Card image cap">
      </div>
      <div class="card-body">
        <form [formGroup]="foodForm" (ngSubmit)="submitForm()">
          <div class="form-group">
            <!-- <label>
              Name:
            </label> -->
            <input 
            class="form-control"
            [ngClass]="{'normal-cart': !isEditing && !isCreating}" 
            type="text" 
            formControlName="name"
            [readonly]="!isEditing && !isCreating"
            required>
            <small class="text-danger" *ngIf="foodForm.get('name')?.hasError('required')
                  && foodForm.get('name')?.touched">
              This field is required.
            </small>
          </div>

          <div class="form-group">
            <!-- <label>
              Price:
            </label> -->
            <input
             class="form-control" 
             [ngClass]="{'normal-cart': !isEditing && !isCreating}" 
             type="number" 
             formControlName="price" 
             required
             [readonly]="!isEditing && !isCreating">

            <small class="text-danger" *ngIf="foodForm.get('price')?.hasError('required')
                  && foodForm.get('price')?.touched">
              This field is required.
            </small>
          </div>
          <a *ngIf="isLogedIn && (userRole == 'CUSTOMER')" class="btn btn-outline-primary"
            (click)="handleAddToCart()">Add to cart</a>

          <button type="submit" 
          class="btn btn-primary" 
          [disabled]="!foodForm.valid"
          [ngClass]="{'d-none': !isEditing && !isCreating}"
          *ngIf="isMine">Submit</button>

          <button type="button"
           class="btn btn-primary" 
           [ngClass]="{'d-none': isEditing || isCreating}"
           (click)="handleEdit()"
           *ngIf="isMine">Edit</button>

           <button type="button"
           class="btn btn-secondary" 
           [ngClass]="{'d-none': !isEditing && !isCreating}"
           (click)="handleCancle()"
           *ngIf="isMine">Cacel</button>

        </form>
      </div>
    </div>
  </div>
</div>